:root {
  --primery-text-color: #212121;
  --primery-bgr-color: #e5e5e5;
  --header-bgr-color: #ececec;
  --footer-bgr-color: #2f303a;
  --hero-bgr-color: #c4c4c4;
  --accent-bgr-btn-color: rgba(33, 150, 243, 1);
  --hover-focus-btn: rgba(24, 140, 232, 1);
  --white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-title: rgba(255, 255, 255, 1);
  --bgr-button-secondary: #f5f4fa;
  --bgr-overlay-we: rgba(47, 48, 58, 0.8);
  --main-text: rgba(117, 117, 117, 1);
  --border-btn: #eeeeee;
  --icon-color: #afb1b8;
  --icon-border-color: rgba(175, 177, 184, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-modal: 250ms ease-in-out 20ms;
  --overlay-card: rgba(33, 150, 243, 0.9);
  --font-form-modal: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-portfolio__container, .footer__container, .clients, .team, .we, .features, .hero-container, .header__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.joinin-list__link, .address__link, .clients__link, .social-link, .menu-contacts__link, .menu-list__link, .project-link {
  text-decoration: none;
  color: var(--primery-text-color);
}

.main__filter-btn, .joining__joinin-list, .address__address-list, .clients__list, .social, .team-list, .we-list, .features-list, .menu-contacts, .menu-list, .main__project {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

div {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo--grey {
  color: var(--primery-text-color);
}
.logo--white {
  color: var(--white-color);
}

.container__title {
  font-size: 44px;
  max-width: 696px;
  color: #ffffff;
  line-height: 1.36;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}

.features-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.we-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.subscription__lable {
  color: var(--footer-title);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.button {
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  background-color: var(--bgr-button-secondary);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.button:hover, .button:focus {
  background-color: var(--hover-focus-btn);
  color: var(--white-color);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.button:active {
  background-color: var(--accent-bgr-btn-color);
}
.button--primary {
  background-color: var(--accent-bgr-btn-color);
  color: var(--white-color);
  font-weight: 500;
}
.button--secondary {
  font-weight: 500;
}

.button-hero {
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-bgr-btn-color);
  color: var(--white-color);
  font-weight: 700;
  width: 216px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.button-hero:hover:hover, .button-hero:focus {
  background-color: var(--hover-focus-btn);
}

.btn {
  width: 200px;
  height: 50px;
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: 12px;
}

.btn__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}
.btn__label::after {
  content: "";
  margin-left: 10px;
}

.btn__icon {
  fill: var(--white-color);
}

.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  opacity: 1;
  -webkit-transition: opacity var(--animation-modal), -webkit-transform var(--animation-modal);
  transition: opacity var(--animation-modal), -webkit-transform var(--animation-modal);
  transition: transform var(--animation-modal), opacity var(--animation-modal);
  transition: transform var(--animation-modal), opacity var(--animation-modal), -webkit-transform var(--animation-modal);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, 50%) scale(0.8) rotate(1turn);
          transform: translate(-50%, 50%) scale(0.8) rotate(1turn);
}

.modal-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0 0;
  cursor: pointer;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-bgr-btn-color);
}

.modal-form {
  text-align: center;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.group {
  margin-top: 12px;
  margin-bottom: 20px;
}

.input-order {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.input-order:last-child {
  margin-bottom: 0;
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text);
  margin-bottom: 4px;
  text-align: left;
}

.input-item {
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}
.input-item:hover, .input-item:focus {
  border: 1px solid var(--accent-bgr-btn-color);
}
.input-item:hover + .input-icon, .input-item:focus + .input-icon {
  fill: var(--accent-bgr-btn-color);
}
.input-item + .input-icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.input-item:hover, .input-item:focus {
  border: 1px solid var(--accent-bgr-btn-color);
}
.input-item:hover + .input-icon, .input-item:focus + .input-icon {
  fill: var(--accent-bgr-btn-color);
}
.input-item + .input-icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.input-textarea {
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.input-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-form-modal);
}
.input-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-form-modal);
}
.input-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-form-modal);
}
.input-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-form-modal);
}
.input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-form-modal);
}

.input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
  height: 24px;
}

.order-input:focus + .checkbox-icon {
  stroke: var(--accent-bgr-btn-color);
  stroke-width: 3px;
}

.order-input:checked + .checkbox-icon .checkbox-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.order-input:checked + .checkbox-icon .checkbox-check {
  opacity: 1;
}

.checkbox-icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.checkbox-icon:hover, .checkbox-icon:focus {
  fill: var(--accent-bgr-btn-color);
  cursor: pointer;
}

.checkbox-check {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}

.terms-link {
  text-decoration: underline;
  color: var(--accent-bgr-btn-color);
  text-underline-position: under;
}

.btn-submite {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: var(--accent-bgr-btn-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.btn-submite:hover, .btn-submite:focus {
  background-color: var(--hover-focus-btn);
}

.main__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-tumb {
  display: inline-block;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.overlay-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  background-color: var(--overlay-card);
}
.project-link:hover .overlay-project, .project-link:focus .overlay-project {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-project-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--footer-title);
  text-align: left;
  line-height: 1.55;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 63px 24px;
  letter-spacing: 0.03em;
}

.project-img {
  display: block;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text);
}

.card-project {
  padding: 20px 24px;
  border: 1px solid var(--border-btn);
  border-top: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
}

.header__logo {
  margin-right: 93px;
}

.menu {
  font-weight: 500;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list__item {
  margin-right: 50px;
  display: block;
}
.menu-list__item:last-child {
  margin-right: 0;
}

.menu-list__link {
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.menu-list__link:hover, .menu-list__link:focus, .menu-list__link:active {
  color: var(--accent-bgr-btn-color);
}
.menu-list__link--current {
  display: block;
  position: relative;
  color: var(--accent-bgr-btn-color);
  text-transform: none;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-bgr-btn-color);
  border-radius: 2px;
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.menu-contacts__item {
  margin-right: 50px;
}
.menu-contacts__item:last-child {
  margin-right: 0;
}

.menu-contacts__link {
  color: var(--main-text);
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
}
.menu-contacts__link:hover, .menu-contacts__link:focus, .menu-contacts__link:active {
  color: var(--accent-bgr-btn-color);
}

.menu-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--hero-bgr-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(40deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-section__hero-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bgr-button-secondary);
  margin-bottom: 30px;
}

.features-text {
  color: var(--main-text);
  line-height: 1.71;
}

.section-we {
  padding-top: 47px;
  padding-bottom: 94px;
}

.we-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 30px;
}

.we-item {
  width: 370px;
  height: 294px;
}

.overlay-we {
  position: relative;
}

.overlay-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--footer-title);
  text-align: center;
  background-color: var(--bgr-overlay-we);
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-team {
  background-color: var(--bgr-button-secondary);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.team-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-bgr-btn-color);
}
.social-link:hover .social-icon {
  fill: var(--white-color);
}
.social-link:focus .social-icon {
  fill: var(--white-color);
}

.social-icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: color var(--transition), border var(--transition);
  transition: color var(--transition), border var(--transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-bgr-btn-color);
  border: 1px solid var(--accent-bgr-btn-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address {
  display: block;
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.address {
  font-style: normal;
  color: var(--footer-title);
}

.address__address-list {
  margin-top: 9px;
}

.footer__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.address__link {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.address__link:hover, .address__link:focus {
  color: var(--white-color);
}

.joining__lable {
  color: var(--footer-title);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.joining__joinin-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.joinin-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.joinin-list__link:hover, .joinin-list__link:focus {
  background-color: var(--accent-bgr-btn-color);
}
.joinin-list__link:hover .social-icon {
  fill: var(--white-color);
}

.joinin-list__icon {
  fill: var(--white-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.subscription {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 93px;
  width: 570px;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  min-width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  padding: 15px 15px 15px 15px;
}
.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}
.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main__filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */