%container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

%reset-link{
    text-decoration: none;
    color: var(--primery-text-color);
}

%reset-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
