:root {
    --primery-text-color: #212121;
    --primery-bgr-color: #e5e5e5;
    --header-bgr-color: #ececec;
    --footer-bgr-color: #2f303a;
    --hero-bgr-color: #c4c4c4;
    --accent-bgr-btn-color: rgba(33, 150, 243, 1);
    --hover-focus-btn: rgba(24, 140, 232, 1);
    --white-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-title: rgba(255, 255, 255, 1);
    --bgr-button-secondary: #f5f4fa;
    --bgr-overlay-we: rgba(47, 48, 58, 0.8);
    --main-text: rgba(117, 117, 117, 1);
    --border-btn: #eeeeee;
    --icon-color: #afb1b8;
    --icon-border-color: rgba(175, 177, 184, 1);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation-modal: 250ms ease-in-out 20ms;
    --overlay-card: rgba(33, 150, 243, 0.9);
    --font-form-modal: rgba(117, 117, 117, 0.5);
    --general-font: 'Roboto', sans-serif;
    --btn-font: inherit;
}