.container__title {
    font-size: 44px;
    max-width: 696px;
    color: #ffffff;
    line-height: 1.36;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
}
.features-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}
.we-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
.subscription__lable {
    color: var(--footer-title);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}
.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
    margin-bottom: 4px;
}